@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;700&display=swap");
:root {
    --main-bg-colour: #FFF;
    --banner-bg-colour: #03DA74;
    --nav-text-colour: #02763F;
    --table-border-colour: rgba(0,0,0,0.2);
}
* {
    margin: 0;
}
*, :before, :after {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
html, body {
    height: 100%;
}
body {
    line-height: 1.9;
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, sans-serif;
    background-color: var(--main-bg-colour);
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
p, pre, ul {
    margin: 1em 0;
}
.container {
    max-width: 80.0rem;
    margin: 0 auto;
    padding: 0 1.6rem;
}
.row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.centered {
    margin: 0 auto;
}
.full-width {
    width: 100%;
}
#nav {
    overflow: hidden;
    position: fixed;
    width: 100%;
    background-color: var(--banner-bg-colour);
    z-index: 100;
    display: flex;
    justify-content: center;   
}
.main-nav {
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--nav-text-colour);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80em;
}
.main-nav a {

    float: left;
    display: block;
    padding: 1em 1.1em;
    text-decoration: none;
    color: var(--main-bg-colour);
}
.main-nav a.active, .main-nav a.active:hover {
    cursor: default;
    color: var(--nav-text-colour);
}
.main-nav a.active, .main-nav a:hover  {
    text-decoration: underline solid 0.2em;
    text-underline-offset: 0.5em;
    
}
.main-nav .icon {
    display: none;
}
#banner {
    background-color: var(--banner-bg-colour);
    height: 100vh;
}
#banner .container {
    margin: 0 auto;
    text-align: center;
    height: 100%;
    position: relative;
    overflow:hidden;
}
#logo-img {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    z-index: 2;
}
#light-img{
    position: absolute;
    z-index: 1;
    opacity: 0.8;
    margin-right: -13%;
    bottom: -30%;
    height: 125%;
    min-width: 450px;
    min-height: 747px;

}
.profile_img {
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
}
.main-section {
    font-size: 1.5rem;
    margin: 2rem 0;
}

.main-section h2 {
    font-size: 3.5rem;
    font-weight: 300;
    transition: color 500ms;
}
.main-section h2:hover {
    cursor: pointer;
    color: #000;
}
.main-section h2.open {
    color: #000;
    font-weight: 600;
    cursor: default;
}
.main-section h3 {
    font-size: 2.5rem;
    font-weight: 300;
}
.main-section h4 {
    font-size: 1.8rem;
    margin: 1rem 0;
    font-style: italic;
    font-weight: 300;
}
.main-section p {
    margin-top: 0;
}
.accordian {
    cursor: pointer;
}
.accordian-content {
    display: none;
    overflow: hidden;
    padding: 0 18px;
}
.accordian-active {
    display: block;
}
.hidden {
    display: none;
}
.inline {
    display: inline;
}
#team {
    list-style: none;
    padding: 0;
}
#bigfive {
    border-collapse: collapse;
    border: 1px solid var(--table-border-colour);
    width: 100%;
}
#bigfive th, #bigfive td {
    padding: 1.4rem;
    border: 1px solid var(--table-border-colour);
    text-align: center;
}
#bigfive th {
    font-weight: 700;
}

footer {
    background-color: #444;
    margin-top: 3rem;
}
footer .container {
    text-align: center;
    color: var(--main-bg-colour);
    padding: 1.5rem;
}
.section-title {
    color: #BBB;
}
.fa {
    pointer-events: none !important;
}
table caption {
    font-size: 1.5em;
    margin-bottom: 1.3em;
    font-weight: 600;
}
.table1 {
    width: 100%;
    border-collapse: collapse;
    margin: 2rem 0;
    table-layout: fixed;
    font-size: inherit;
    line-height: 1.9;
}
.table1 td {
    vertical-align: top;
}
.table1 th, .table1 td {
    border: 1px solid #DDD;
}
.table1 th {
    font-weight: bold;
    padding: 1em 0;
}
th img, td img {
    margin-left: auto;
    margin-right: auto;
}
.profiles > div {
    padding: 2rem 0;
}
.profiles > div:not(:first-child) {
    border-top: 2px dashed #ddd;
}
.profile-img {
    height: 400px;
    width: 400px;
    border: 15px solid white;
    border-radius: 100%;
    overflow: hidden;
    background-color: #efefef;
    padding: 15px;
    box-shadow: 1px 2px 6px rgb(0 0 0 / 20%);
    float: left;
    margin-right: 4rem;
    shape-outside: circle();
}
.profile-img img {
    height: 100%;
    position: relative;
    margin: 0 auto;
    top: 20px;
}
